USE [master]
GO
/****** Object:  Database [qlThuVien2]    Script Date: 16/04/2024 2:48:14 CH ******/
CREATE DATABASE [qlThuVien2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qlThuVien2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\qlThuVien2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'qlThuVien2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\qlThuVien2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qlThuVien2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qlThuVien2]
GO
/****** Object:  Table [dbo].[qlDocGia]    Script Date: 16/04/2024 2:48:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qlDocGia](
	[MaDocGia] [nvarchar](50) NOT NULL,
	[TenDocGia] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[CCCD] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
 CONSTRAINT [PK_qlDocGia] PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qlMuonTra]    Script Date: 16/04/2024 2:48:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qlMuonTra](
	[MaMuon] [varchar](50) NOT NULL,
	[MaSach] [nvarchar](50) NULL,
	[MaDocGia] [nvarchar](50) NULL,
	[NgayMuon] [nvarchar](50) NULL,
	[NgayTra] [nvarchar](50) NULL,
 CONSTRAINT [PK_qlMuonTra] PRIMARY KEY CLUSTERED 
(
	[MaMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qlSach]    Script Date: 16/04/2024 2:48:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qlSach](
	[MaSach] [nvarchar](50) NOT NULL,
	[TenSach] [nvarchar](50) NULL,
	[TheLoai] [nvarchar](50) NULL,
	[Nhà xuất bản] [nchar](10) NULL,
	[Năm xuất bản] [nvarchar](50) NULL,
	[Soluong] [int] NULL,
 CONSTRAINT [PK_qlSach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/04/2024 2:48:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[qlMuonTra]  WITH CHECK ADD  CONSTRAINT [FK_qlMuonTra_qlDocGia] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[qlDocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[qlMuonTra] CHECK CONSTRAINT [FK_qlMuonTra_qlDocGia]
GO
ALTER TABLE [dbo].[qlMuonTra]  WITH CHECK ADD  CONSTRAINT [FK_qlMuonTra_qlSach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[qlSach] ([MaSach])
GO
ALTER TABLE [dbo].[qlMuonTra] CHECK CONSTRAINT [FK_qlMuonTra_qlSach]
GO
USE [master]
GO
